site_name: travian-strategy
repo_url: https://github.com/madscba/travian-strategy
site_url: https://madscba.github.io/travian-strategy
site_description: This is a template repository for Python projects that use uv for their dependency management.
site_author: Mads Christian B. H.
edit_uri: edit/main/docs/
repo_name: madscba/travian-strategy
copyright: Maintained by <a href="https://madscba.com">madscba</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/travian_strategy"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fpgmaas/travian-strategy
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/travian-strategy

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
